{{ require_css(get_asset_url('Landing Pages/assets/css/main.css')) }}

{% if template_css %}
{{ require_css(get_asset_url(template_css)) }}
{% endif %}

<body>


    <div class="testimonial-container">
        <div class="testimonial-headline">{{ module.heading }}</div>
        <div class="testimonials">
            <div class="testimonial">
                {% if module.author_review_box.user_image.src %}
                <img src="{{ module.author_review_box.user_image.src }}"
                    alt="{{ module.author_review_box.user_image.alt }}">
                {% endif %}
                <h3> {{ module.author_review_box.author_name }}
                </h3>
                <h5> {{module.author_review_box.author_profession }}</h5>
                {{ module.author_review_box.author_review}}
            </div>
            <div class="testimonial">
                {% if module.author_review_box_2.user_image.src %}
                <img src="{{ module.author_review_box_2.user_image.src }}"
                    alt="{{ module.author_review_box_2.user_image.alt }}">
                {% endif %}
                <h3>{{module.author_review_box_2.author_name}}</h3>
                <h5> {{module.author_review_box_2.author_profession }}</h5>
                {{module.author_review_box_2.author_review }}
            </div>
            <div class="testimonial">
                {% if module.author_review_box_3.user_image.src %}
                <img src="{{ module.author_review_box_3.user_image.src }}"
                    alt="{{ module.author_review_box_3.user_image.alt }}">
                {% endif %}
                <h3> {{module.author_review_box_3.author_name}}</h3>
                <h5> {{module.author_review_box_3.author_profession }}</h5>
                {{module.author_review_box_3.author_review }}
            </div>
        </div>
    </div>
</body>