{{ require_css(get_asset_url('Landing Pages/assets/css/main.css')) }}

{% if template_css %}
{{ require_css(get_asset_url(template_css)) }}
{% endif %}


<body>
    <div class="single-boxcontainer">
        <div class="single-heading">{% inline_text field="heading" value="{{ module.heading }}" %}</div>
        <div class="single-reviewbox">
            <div class="single-review-wrapper">
                <div class="single-review">
                    {% if module.author_box.author_image.src %}
                    <img src="{{ module.author_box.author_image.src }}" alt="{{ module.author_box.author_image.alt }}">
                    {% endif %}
                    <h3>{{ module.author_box.author_name }}</h3>
                    <h5>{{ module.author_box.auth_profession }}</h5>
                </div>
                <div class="author-review">
                    {{ module.author_box.author_review }}
                </div>
            </div>
        </div>
    </div>
</body>