{{ require_css(get_asset_url('Landing Pages/assets/css/main.css')) }}

{% if template_css %}
{{ require_css(get_asset_url(template_css)) }}
{% endif %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<body>
    <div class="carousel-container">
        <div class="carousel-heading">{% inline_text field="headline" value="{{ module.headline }}" %}</div>
        <div class="carousel-horizontal">
            <button class="prev-arrow">&#10094;</button>
            <div class="carousel">
                {% for item in module.carousel_item %}
                <div class="carousel-item">
                    <div class="carousel-content">
                        {% if item.author_image.src %}
                        <img src="{{ item.author_image.src }}" alt="{{ item.author_image.alt }}">
                        {% endif %}
                        <div class="carousel-content-text">
                            <p>{{ item.author_review }}</p>
                            <h4>{{ item.author_name }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="next-arrow">&#10095;</button>
        </div>
        <div class="nav-dots">
            {% for item in module.carousel_item %}
            <span class="dot"></span>
            {% endfor %}
        </div>
    </div>
</body>