{{ require_css(get_asset_url('Landing Pages/assets/css/main.css')) }}

{% if template_css %}
{{ require_css(get_asset_url(template_css)) }}
{% endif %}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<body>
    <div class="carousel-container">
        <div class="carousel-heading">{% inline_text field="headline" value="{{ module.headline }}" %}</div>
        <div class="carousel">
            {% for item in module.carousel_item %}
            <div class="carousel-item">
                <div class="carousel-content">
                    {% if item.author_image.src %}
                    {% set sizeAttrs = 'width="{{ item.author_image.width|escape_attr }}" height="{{
                    item.author_image.height|escape_attr }}"' %}
                    {% if item.author_image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.author_image.width|escape_attr }}" height="{{
                    item.author_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.author_image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.author_image.max_width|escape_attr }}" height="{{
                    item.author_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item.author_image.loading != 'disabled' ? 'loading="{{
                    item.author_image.loading|escape_attr }}"' : '' %}
                    <img src="{{ item.author_image.src|escape_url }}" alt="{{ item.author_image.alt|escape_attr }}" {{
                        loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                    <p>{% inline_text field="author_review" value="{{ item.author_review }}" %}</p>
                    <h4>{% inline_text field="author_name" value="{{ item.author_name }}" %}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="nav-dots">
            {% for item in module.carousel_item %}
            <span class="dot"></span>
            {% endfor %}
        </div>
        <button class="prev-arrow">&#10094;</button>
        <button class="next-arrow">&#10095;</button>
    </div>
</body>